/* General Styles */

body {
  background-color: #6B2822;
  color: #fff
}

.container {
  min-width: 1;
}

/* Type Classes */ 
.greeting {
  /* text-align: center; */
}

.greeting h1 {
  font-size: 42pt;
  font-weight: 400;
}

.greeting h3 {
  font-weight: 200;
  font-style: italic;
}

/* Messages */
.messageBox {
  background-color: #cdcdcd;
  height: 375px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  overflow: scroll;
}

nav .nav-tabs > a {
  background-color: #ececec;
  color: #495057;
  text-align: left;
  padding-left: 1rem;
}

nav .nav-tabs > a.active {
  background-color: #fff;
}

nav .nav-tabs > a.nav-dragOver {
  background-color: #FFC1C8 
}

.nav-tabs .nav-link {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.message {
  background-color: #ececec;
  color: #000;
  min-height: 35px;
  /* border-bottom: 1px */
}

.message:hover {
  text-decoration: none;
  color: #6B2822;
}

.message p {
  margin-bottom: 0;
}

.messageTime {
  text-align: right;
}

.messageIcon {
  max-width: 25px;
  filter: grayscale(100%);
}

.unread {
  background-color: #fff;
  font-weight: 600;
}

.unread > .col-1 > .messageIcon {
  filter: grayscale(0%)
}

/* Dragging Events */
.hoverBox {
  width: 100px;
  background-color: #ffffff;
  color: #000;
  border-radius: 10px;
}

.message.gu-transit {
  opacity: 100%;
  background-color: transparent;
}

.message.gu-mirror {
  opacity: 100%;
  background-color: transparent;
}

.hidden {
  display: none;
}

/* Popup Specific */

.popupBody {
  width: 500px;
}